[Unit]
Description=Discord bot for alerting community about token transfers 

[Service]
User=ichristwin
WorkingDirectory=/home/ichristwin/Dev/m3ter-discord-app

ExecStart=npm run bot

[Install]
WantedBy=multi-user.target