[Unit]
Description=Discord bot for alerting community about token transfers 

[Service]
User=me
WorkingDirectory=/home/me/Switch-LoRaWAN-Gateway/
ExecStart=python3 gateway.py

[Install]
WantedBy=multi-user.target